<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'styles/styles-vibra.css' %}"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'global/favicon.ico' %}">
    <title>Edição de clientes</title>
  </head>
  <body>
    <div class="container">
      <h1>Edição de clientes</h1>
      <section class="form-search">
        <form
          class="form-elements"
          method="GET"
          action="#"
        >
          <div>
            <input
              type="text"
              name="search-name"
              placeholder="🔍 Digite o nome do cliente"
            />
          </div>  
          <div>
            <select name="drop" class="dropDown" id="drop">
              <option value="" disabled selected>Selecione a operação</option>
              <option value="inbound">Inbound</option>
              <option value="outbound">Outbound</option>
            </select>
          </div>
          <div>
            <button type="submit">Pesquisar</button>
          </div>
        </form>
      </section>
      <section class="div-table">
        <table class="table-1">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Modelo de negócio</th>
              <th>Tipo de cliente</th>
              <th>Operação</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for c in page.object_list %}
            <tr>
              <td>{{c.codigo}}</td>
              <td>{{c.nome}}</td>
              <td>{{c.modelo_de_negocio}}</td>
              <td>{{c.tipo_de_cliente}}</td>
              <td>{{ c.outbound|yesno:"Outbound,Inbound" }}</td>
              <td>
                <a href="{{c.codigo}}" class="edit-button">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
    <div class="page-links" id="page-links">
      {% if page.has_previous %}
        <a href="{% url 'clientes' %}?page={{page.previous_page_number}}">Anterior</a>
      {% endif %}

      {% if page.number > 1 %}
        <p>Página {{page.number}}</p>
      {% endif %}


      {% if page.has_next %}
        <a href="{% url 'clientes' %}?page={{page.next_page_number}}">Próximo</a>
      {% endif %}
    </div>
  </body>
</html>
