<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'styles/styles-vibra.css' %}"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'global/favicon.ico' %}">
    <title>Edição de transportadoras</title>
  </head>
  <body>
    <div class="container">
      <h1>Edição de transportadoras</h1>
      <section class="form-search">
        <form
          class="form-elements"
          method="GET"
          action="#"
        >
          <div>
            <input
              type="text"
              name="search-cod"
              placeholder="🔍 Digite o código SAP"
            />
          </div>
          <div>
            <input
              type="text"
              name="search-nome"
              placeholder="🔍 Digite o nome SAP"
            />
          </div>
          <div>
            <input
              type="text"
              name="search-grupo"
              placeholder="🔍 Digite o grupo Atlas"
            />
          </div>
          <div>
            <button type="submit">Pesquisar</button>
          </div>
        </form>
      </section>
      <section class="div-table">
        <table class="table-1">
          <thead>
            <tr>
              <th>Código SAP</th>
              <th>Nome</th>
              <th>CNPJ</th>
              <th>Grupo Atlas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for t in page.object_list %}
            <tr>
              <td>{{ t.transportadora_codigo_sap }}</td>
              <td>{{ t.transportadora_nome_sap|default:"" }}</td>
              <td>{{ t.transportadora_cnpj|default:"" }}</td>
              <td>{{ t.transportadora_grupo_atlas|default:"" }}</td>
              <td>
                <a href="{{t.transportadora_codigo_sap}}" class="edit-button">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
    <div class="page-links" id="page-links">
      {% if page.has_previous %}
        <a href="{% url 'transportadoras' %}?page={{page.previous_page_number}}">Anterior</a>
      {% endif %}

      {% if page.number > 1 %}
        <p>Página {{page.number}}</p>
      {% endif %}


      {% if page.has_next %}
        <a href="{% url 'transportadoras' %}?page={{page.next_page_number}}">Próximo</a>
      {% endif %}
    </div>
  </body>
</html>
