<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'styles/styles-minalba.css' %}"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'global/favicon.ico' %}">
    <title>Edição de placas</title>
  </head>
  <body>
    <div class="container">
      <h1>Edição de placas</h1>

      <section class="form-search">
        <form
          class="form-elements"
          method="GET"
          action="#"
        >
          <div>
            <input
              type="text"
              name="search"
              placeholder="🔍 Digite a placa desejada"
            />
          </div>
          <div>
            <button type="submit">Pesquisar</button>
          </div>
        </form>
      </section>

      <section class="div-table">
        <table class="table-1">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Classificação</th>
            </tr>
          </thead>
          <tbody>
            {% for p in page.object_list %}
            <tr>
              <td>{{p.placa}}</td>
              <td>{{p.classificacao|default:"Indefinido"}}</td>
              <td>
                <a href="{{p.placa}}" class="edit-button">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </section>
    </div>
    <div class="page-links" id="page-links">
      {% if page.has_previous %}
          <a href="{% url 'placas' %}?page={{page.previous_page_number}}&search_placa={{ search_placa }}">Anterior</a>
      {% endif %}
  
      {% if page.number > 1 %}
          <p>Página {{page.number}}</p>
      {% endif %}
  
      {% if page.has_next %}
          <a href="{% url 'placas' %}?page={{page.next_page_number}}&search_placa={{ search_placa }}">Próximo</a>
      {% endif %}
    </div>
  </body>
</html>
